<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<title>Knowledge Discovery</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<link rel="icon" sizes="192x192" href="/images/android-desktop.png" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="Material Design Lite" />
<link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png" />

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="/images/touch/ms-touch-icon-144x144-precomposed.png" />
<meta name="msapplication-TileColor" content="#3372DF" />

<link rel="shortcut icon" href="/images/favicon.png" />

<link rel="stylesheet" href="/css/fonts.css" />
<link rel="stylesheet" href="/css/material-icon.css" />
<link rel="stylesheet" href="/css/mterial.css" />
<link rel="stylesheet" href="/css/styles.css" />

</head>
<body
	class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
		<div th:replace="fragments/header :: header"></div>
		<h6 align="center" style="background-color: white">A verification
			link has been sent to your Email Id. Please visit that link to
			activate your account.</h6>
		<main class="mdl-layout__content">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--8-col search-text">
				<h2>Ready to do some research</h2>
				<p>search to access the some journals,databases and ebooks from
					your favourite library section</p>
			</div>
			<div class="mdl-cell mdl-cell--4-col serch-btn">
				<a class="mdl-navigation__link signup" href="">Start my research</a>
			</div>
		</div>
		<div class="mdl-grid--no-spacing main-bg">
			<div class="inner-bg">
				<h2>Keep up with Education Research Services</h2>
			</div>
			<div class="overlay-bg"></div>
		</div>
		<div class="mdl-layout__tab-panel is-active section-main">
			<h3 class="whats-new">What’s New</h3>
			<!--  <h1 class="solutions">Solutions</h1> -->
			<section class="mdl-grid home-solutions sematic-main">
				<div
					class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.Lorem ipsum
						dolor sit amet, consectetur adipiscing elit.Aenan convallis.Lorem
						ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							View More </a>
					</div>
				</div>
				<div
					class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.Lorem ipsum
						dolor sit amet, consectetur adipiscing elit.Aenan convallis.Lorem
						ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							View More </a>
					</div>
				</div>
				<div
					class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.Lorem ipsum
						dolor sit amet, consectetur adipiscing elit.Aenan convallis.Lorem
						ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							View More </a>
					</div>
				</div>
				<div
					class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
					<div class="mdl-card__title mdl-card--expand"></div>
					<div class="mdl-card__supporting-text">Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.Lorem ipsum
						dolor sit amet, consectetur adipiscing elit.Aenan convallis.Lorem
						ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a
							class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
							View More </a>
					</div>
				</div>
			</section>
			<section class="abot-test">
				<section class="section--center mdl-grid abut-semantic">
					<div class="mdl-cell mdl-cell--8-col about-left">
						<h2>About Knowledge Discovery</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing
							elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
							adipiscing elit.Aenan convallis.Lorem ipsum dolor sit amet,
							consectetur adipiscing elit.Aenan convallis.Lorem ipsum dolor sit
							amet, consectetur adipiscing elit.Aenan convallis.Lorem ipsum
							dolor sit amet, consectetur adipiscing elit.Aenan convallis.Lorem
							ipsum dolor sit amet, consectetur adipiscing elit.Aenan
							convallis.</p>
					</div>
					<div class="mdl-cell mdl-cell--4-col about-right">
						<div class="about-bg">
							<p class="test-para">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit.Aenan convallis.Lorem ipsum dolor sit amet,
								consectetur adipiscing elit.</p>
							<p>@ABC</p>
						</div>
					</div>
				</section>
			</section>
			<section class="blog-mains ">
				<section
					class="section--center mdl-grid mdl-grid--no-spacing sol-heading">
					<h4>Lorem ipsum dolor sit amet</h4>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
						adipiscing elit.Lorem ipsum dolor sit amet, consectetur.</p>
				</section>
				<section class="section--center mdl-grid mdl-grid--no-spacing ">
					<div class="mdl-blog">
						<div class="demo-card-square mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand"></div>
							<div class="mdl-card__supporting-text">
								<h2 class="mdl-card__title-text">Lorem ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
									adipiscing elit.Lorem ipsum dolor sit amet, consectetur.</p>
								<a href="" class=" mdl-js-ripple-effect icon-right"> <i
									class="material-icons">chevron_right</i>
								</a>
							</div>
						</div>
						<div class="demo-card-square mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand"></div>
							<div class="mdl-card__supporting-text">
								<h2 class="mdl-card__title-text">Lorem ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
									adipiscing elit.Lorem ipsum dolor sit amet, consectetur.</p>
								<a href="" class=" mdl-js-ripple-effect icon-right"> <i
									class="material-icons">chevron_right</i>
								</a>
							</div>
						</div>
						<div class="demo-card-square mdl-card mdl-shadow--2dp">
							<div class="mdl-card__title mdl-card--expand"></div>
							<div class="mdl-card__supporting-text">
								<h2 class="mdl-card__title-text">Lorem ipsum</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
									adipiscing elit.Lorem ipsum dolor sit amet, consectetur.</p>
								<a href="" class=" mdl-js-ripple-effect icon-right"> <i
									class="material-icons">chevron_right</i>
								</a>
							</div>
						</div>

					</div>

				</section>
			</section>

			<section class="mdl-grid news-main">
				<div class="mdl-cell mdl-cell--6-col news-left">
					<h2>
						<i class="material-icons">forum</i>Blog
					</h2>
					<h3>What scholary Researchers importing most</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
						adipiscing elit.Aenan convallis.Lorem ipsum dolor sit amet,
						consectetur adipiscing elit.Aenan convallis.Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.</p>
					<a href="">Read More</a>
				</div>
				<div class="mdl-cell mdl-cell--6-col news-right">
					<h2>
						<i class="material-icons">notifications</i>News
					</h2>
					<h3>What scholary Researchers importing most</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit.Aenan convallis.Lorem ipsum dolor sit amet, consectetur
						adipiscing elit.Aenan convallis.Lorem ipsum dolor sit amet,
						consectetur adipiscing elit.Aenan convallis.Lorem ipsum dolor sit
						amet, consectetur adipiscing elit.Aenan convallis.</p>
					<a href="">Read More</a>
				</div>
			</section>
		</div>
		<section class="mdl-grid contact-sec">
			<section class="section--center mdl-grid mdl-grid--no-spacing ">
				<div class="mdl-cell mdl-cell--10-col contact-left">
					<h3>What scholary Researchers importing most</h3>
				</div>
				<div class="mdl-cell mdl-cell--2-col contact-right">

					<a class="mdl-navigation__link signup" href="signup.html">Read
						More</a>
				</div>
			</section>
		</section>
		<div th:replace="fragments/footer :: footer"></div>
		</main>
	</div>

	<script src="/js/material.js"></script>
</body>
</html>
