<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<footer class="mdl-mega-footer footer-main">
	 <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="checked" ></input>
              
              <ul class="mdl-mega-footer--link-list">
                <li><a href="">News</a></li>
                
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="checked"></input>
    
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About us</a></li>
               
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="checked"></input>
            
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Privacy</a></li>
             
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="checked"></input>
            
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="mdl-mega-footer--bottom-section">
           <div class="mdl-logo-footer">
             ©2017 academicresearchcommunities.com All rights reserved.
            </div>
            
          </div>
</footer>
</html>