<html xmlns:th="http://www.thymeleaf.org">
<header
	class="mdl-layout__header mdl-layout__header--waterfall nav-header">
	<div class="mdl-layout__header-row">
		<!-- Title -->
		<a href="/"><img class="header-logo"
			src="/images/Knowledge discovery.png" alt="Knowledge Discovery" /></a>
		<!-- Add spacer, to align navigation to the right -->
		<div class="mdl-layout-spacer"></div>
		<!-- Navigation. We hide it in small screens. -->
		<nav class="mdl-navigation mdl-layout--large-screen-only">
			<a class="mdl-navigation__link" href="/dashboard/employee/scrappy-jobs">Web Scrappy Jobs</a> 
			<a class="mdl-navigation__link" href="/dashboard/employee/create-scrappy-job">Create Web Scrappy Job</a> 
			<a class="mdl-navigation__link" href="/dashboard/employee/change-password">Change Password</a>
			<a class="mdl-navigation__link signup" href="/logout">Logout</a>
		</nav>
	</div>
</header>
</html>