<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Bree+Serif"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" />
<link rel="stylesheet" href="owl-carousel/owl.carousel.css" />
<link href="css/front.css" rel="stylesheet" />