<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<title>Knowledge Discovery</title>

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes" />
<link rel="icon" sizes="192x192" href="/images/android-desktop.png" />

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="Material Design Lite" />
<link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png" />

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="/images/touch/ms-touch-icon-144x144-precomposed.png" />
<meta name="msapplication-TileColor" content="#3372DF" />

<link rel="shortcut icon" href="/images/favicon.png" />

<link rel="stylesheet" href="/css/fonts.css" />
<link rel="stylesheet" href="/css/material-icon.css" />
<link rel="stylesheet" href="/css/mterial.css" />
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body
	class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
		<div th:replace="fragments/headerEmployee :: header"></div>
		<main class="mdl-layout__content">
		<div class="mdl-layout__tab-panel is-active"
			style="min-height: 600px;">
			<h1 class="solutions">Add Employee</h1>

			<section class="section--center mdl-grid mdl-shadow--2dp">
				<!-- Simple Textfield -->
				<span style='color: red;' id='error'></span>
				<div class="mdl-cell mdl-cell--12-col form-left">
					<form id="frmAddEmployee">
						
						<input type='button'
							class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
							value='Submit' id='submitWebCrawlingJobForm' />
					</form>
				</div>
			</section>
		</div>
		<div th:replace="fragments/footerLogin :: footer"></div>
		</main>
	</div>
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/popup.js"></script>
	<script src="/js/material.js"></script>
	<script src="/js/config.js"></script>
	<script src="/js/addwebcrawlingjob.js"></script>
</body>
</html>
